@import url('https://fonts.googleapis.com/css2?family=Cantata+One&family=Montserrat:wght@600&display=swap');

  :root{
   
    --fonte-primaria: 'Cantata One', serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img{
  max-width: 100%;
  width: 250px;
  height: 385px;
  object-fit: cover;
}

body{
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    background:linear-gradient(#000000,#150050);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
  
}

.cabecalho{
  padding: 2% 0 0 10%;
        
    }
    

 .cabecalho__menu{
    display: flex;
    gap: 30px;
    align-items: center;
    padding:2%;
    position: relative;
}

.cabecalho__menu__navegacao{
    position: relative;
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: blanchedalmond;
    text-decoration: none;
    padding: 5px  30px;
    transition: .5s;
   
   
}

.cabecalho__menu__navegacao:hover{
    color: #FFEA11;
}

.span{ 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-bottom: 2px solid #FFEA11;
    border-radius: 15px;
    transform: scale(0) translate Y (50px);
    opacity: 0;
    transition: .5s;

}

.cabecalho__menu__navegacao:hover span{
    transform: scale(1) translate Y(0);
    opacity: 1;
}


 .container{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    padding: 2%   10%;
    gap: 10px;
}
  
    
   


.titulo{
    font-family: var(--fonte-primaria);
    font-size: 4rem;
    color: #FFEA11;
    gap: 10px;
    
    }

.subtitulo{

  font-size: var(--fonte-secundaria);
  font-size: 2.5rem ;
  color: #FFEA11;
  text-align: center;
  padding: 5% ;
}

 .card__container{   
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    gap: 2vw;
    padding: 0 1vw;
     
 } 

.card{
 
   position: relative;
   width: 250px;
  height: 385px;
   object-fit: cover;
   flex-grow: 0;
   perspective: 1000px;
   
  }

.card .flip {
   transition: transform 0.8s;
   transform-style: preserve-3d;
    
  }


 .card:hover .flip{
   transform: rotateY(180deg);

      }

      
 .front-card, .back-card{
    position: absolute;
    backface-visibility:hidden;
   
   }
      
.front-card{
   transform: rotateY(180deg);

      }

 .front-card img, .back-card img{
    border: 5px solid #FFEA11;
    border-radius: 12px;
    box-shadow: 0 0 8px 0 rgba(0,0,0, 0.3);
    flex-grow: 1;
    
 }
      
.rodape{
    height: 10px;
    display: flex;
    justify-content: center;
    color: #000000;
    background-color:#FFEA11;
    padding: 24px ;
    align-items: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
  
  }

